<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='booking.css') }}">
    <script src="{{ url_for('static', filename='booking.js') }}" type="text/javascript" ></script> 
    <title>Booking</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block header %}
    <div class="booking">
        <div class="booking_size">
            <div class="attraction_conten">
                <h2>您好，</h2><h2 id = "member_name"></h2><h2>，待預訂的行程如下：</h2>
                <div class="attraction_conten_layout" id="attraction_conten_layout">
                    <div class="attraction_img" id="attraction_img">
                        <img id = "attraction_show_img" class="attraction_show_img" src="">
                    </div>
                    <div class="attraction_information">
                        <h4>台北一日遊:<h4 id="booking_name"></h4></h4></br>
                        <h3>日期：<h3 id ="booking_date"></h3></h3></br>
                        <h3>時間：<h3 id ="booking_time"></h3></h3></br>
                        <h3>費用：<h3 id ="booking_price"></h3></h3></br>
                        <h3>地點：<h3 id ="booking_address"></h3></h3></br>
                    </div>
                
                    <div class="delete_img" id="delete_img" onclick ="delete_booking()">
                        <img src="{{ url_for('static', filename='images/delete.png')}}">
                    </div>
                </div>

            </div>
            <hr id ="hr1">
            <div class="member_data" id="member_data">
                <h2>您的聯絡資訊</h2></br>
                <h4>聯絡姓名：</h4><input type="text" id ="input_name" valus=""></br>
                <h4>連絡信箱：</h4><input type="text" id ="input_email" valus=""></br>
                <h4>手機號碼：</h4><input type="text" id ="input_phone" valus=""></br>
                <h4 class="phone_text">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h4>
            </div>
            <hr id ="hr2">
            <div class="pay" id="pay">
                <h2>信用卡付款資訊</h2>
                <h4>卡片號碼：</h4> <div class="tpfield" id="card-number"></div></br>
                <h4>過期時間：</h4> <div class="tpfield" id="card-expiration-date"></div></br>
                <h4>驗證密碼：</h4> <div class="tpfield" id="card-ccv"></div></br>
            </div>
            <hr id ="hr3">
            <div class="total" id ="total">
            <h4>總價：</h4><h4 id ="sum_booking_price"></h4>
            <button id="submit-button" onclick="onClick()">確認訂購並付款</button>
            </div>
        </div>
    </div>
 
 
    <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
    <script>

            TPDirect.setupSDK(124035,'app_KFstpVK9lfJucXiKcUMDZiDH65x65x0Uj95gEwRxywXTg6xzFGSfp253l6tV', 'sandbox')
            let fields = {
                number: {
                    // css selector
                    element:'#card-number',
                    placeholder: '**** **** **** ****'

                },
                expirationDate: {
                    // DOM object
                    element: document.getElementById('card-expiration-date'),
                    placeholder: 'MM / YY'
                },
                ccv: {
                    element: '#card-ccv',
                    placeholder: '後三碼'
                }
            }
            let config = { 
                isUsedCcv: true 
            }
            TPDirect.card.setup({
                fields: fields,
                styles: {
                    // Style all elements
                'input': {
                        'border-radius': '5px'
                    },
                    // Styling ccv field
                    'input.ccv': {
                        'font-size': '16px'
                    },
                    // Styling expiration-date field
                    'input.expiration-date': {
                        'font-size': '16px'
                    },
                    // Styling card-number field
                    'input.card-number': {
                        'font-size': '16px',
                    
                    },
                    // style focus state
                    ':focus': {
                        'color': 'black'
                        
                    },
                    // style valid state
                    '.valid': {
                        'color': 'green'
                    },
                    // style invalid state
                    '.invalid': {
                        'color': 'red',
                    },
                    // Media queries
                    // Note that these apply to the iframe, not the root window.
                    '@media screen and (max-width: 400px)': {
                        'input': {
                            'color': 'orange'
                            
                        }
                    }
                }
            },config)
            let submitButton = document.querySelector('#submit-button')
            function onClick() {
                // 讓 button click 之後觸發 getPrime 方法
                TPDirect.card.getPrime(function (result) {
                    if (result.status !== 0) {
                        alert('信用卡輸入錯誤')
                        return
                    }
                    let data = {
                        'prime':result.card.prime,
                        'date': document.getElementById("booking_date").innerText,
                        'time': document.getElementById("booking_time").innerText,
                        'pice': document.getElementById("booking_price").innerText,
                        'address': document.getElementById("booking_address").innerText,
                        'name': document.getElementById("booking_name").innerText,
                        'image': document.getElementById("attraction_show_img").src,
                        'input_name': document.getElementById("input_name").value,
                        'input_email': document.getElementById("input_email").value,
                        'input_phone': document.getElementById("input_phone").value,
                    }
                  
                    let url = `/api/orders`;
                    fetch(url,    
                    {
                        method: 'POST',
                        body:JSON.stringify(data),  
                        headers:
                        {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response =>{
                        return  response.json()
                    })
                    .then( data =>{
                        if (data['error'] === true){
                            alert('付款失敗')
                            document.location.href=`http://3..87.217.170:3000`;
                        }
                        else{
                            document.location.href=`http://3..87.217.170:3000/thankyou?number=${data['number']}`;
                        }

                    })
        
                })
         

            }
    </script>
    
    {% endblock %}
</body>
</html>